* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
body a{
    text-decoration: none;
    color: #fff;
}
.navbar{
    background-color: #E62E64;
}
/* .navbar{
    background-color: #E62E64;
    padding: 13px;
    text-align: center;
    width: 100%;
} */
/* #nav-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
} */

/* #menu-column{
    display: inline;
    color: aliceblue;
    font-weight: 700;
    font-size: 1.2rem;
} */
/* #menu-column ul li{
    display: inline;
} */
.navbar-brand img {
    height: 50px;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
ul.topnav li a:hover {
    color: #fff;
}
ul.topnav li a:hover:not(.active) {
    background-color: #f5749b;
}

ul.topnav li a.active {
    background-color: #f72a90;
}
#banner img{
    width: 100%;
}
.banner-section{
    width: 100%;
}
.carousel-inner > .carousel-item > img {
    width: 100%;
    height: 520px;
    object-fit: cover;
}
.second-container{
    background-color: #585656;
    padding: 67px;
    margin: 100px 0;
}
#second-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.core-values{
    padding: 90px 50px 100px 50px;
    color: #fff;
    text-align: center;
}

#email-marketing{
    background-color: rgb(24, 24, 24);
}
#market-analysis{
    background-color: rgb(243, 79, 79);
}
#keyword-research{
    background-color: rgb(28, 27, 27);
}
.third-container{
    padding: 40px;
}
.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.what-we-do{
    background-color: rgb(24, 24, 24);
    color: #fff;
    padding: 25px;
    border-radius: 500px;

}

.arrow{
    margin-left: 5rem;
}
.fifth-container{
    padding: 2rem;
    margin-top: 100px;
    margin-left: 10px;
    width: 100%;
}
.sixth-container{
    margin-top: 30px;
    margin-left: 10px;
    padding: 2rem;
}

h3{
    font-size: 40px;
}
.team{
    background-color: #f1f1f1;
    padding:40px 30px 40px 30px;
    /* width: 100%; */
    /* height: 300px; */
}
.footer{
    background-color: black;
    padding-top: 50px;
    padding-bottom:  50px;
    color: white;
    line-height: 2.5rem;
    margin-top: 50px;
}
.foot-link h4 ul li a{
    text-decoration: none;
}
#horizontal-rule{
    margin-top: 50px;
}
.foot-text{
    color: #fff;
}
.sitemap p {
    text-align: right;
}


/* For mobile phones: */
/* [class*="col-"] {
    width: 100%;
  } */
  
  /* @media only screen and (min-width: 768px) { */
    /* For desktop: */
    /* .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  } */