* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
body a{
    text-decoration: none;
    color: #fff;
}
.navbar{
    background-color: #E62E64;
}

.navbar-brand img {
    height: 50px;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
ul.topnav li a:hover {
    color: #fff;
}
ul.topnav li a:hover:not(.active) {
    background-color: #f5749b;
}

ul.topnav li a.active {
    background-color: #f72a90;
}
#banner img{
    width: 100%;
}
.banner-section{
    width: 100%;
}
.carousel-inner > .carousel-item > img {
    width: 100%;
    height: 520px;
    object-fit: cover;
}
.second-container{
    background-color: #585656;
    padding: 67px;
    margin: 100px 0 50px 0;
}
#second-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.core-values{
    padding: 90px 50px 100px 50px;
    color: #fff;
    text-align: center;
}

#email-marketing{
    background-color: rgb(24, 24, 24);
}
#market-analysis{
    background-color: rgb(243, 79, 79);
}
#keyword-research{
    background-color: rgb(28, 27, 27);
}
.third-container{
    padding: 40px;
}
.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.what-we-do{
    background-color: rgb(24, 24, 24);
    color: #fff;
    padding: 25px;
    border-radius: 500px;
    margin-bottom: 20px;
}

.arrow{
    margin-left: 5rem;
}
.fifth-container{
    padding: 2rem;
    margin-top: 50px;
    margin-left: 10px;
    width: 100%;
}
.sixth-container{
    margin-top: 30px;
    margin-left: 10px;
    padding: 2rem;
}

h3{
    font-size: 40px;
}
.what-we-do h5 {
    display: flex;
    justify-content: space-between;
}
.team{
    background-color: #f1f1f1;
    padding:40px 30px 40px 30px;
    
}
.footer{
    background-color: black;
    padding-top: 50px;
    padding-bottom:  50px;
    color: white;
    line-height: 2.5rem;
    margin-top: 50px;
}
.foot-link h4 ul li a{
    text-decoration: none;
}
#horizontal-rule{
    margin-top: 50px;
}
.foot-text{
    color: #fff;
}
.sitemap p {
    text-align: right;
}
.second-container h2,
.fifth-container h1,
.sixth-container h1 {
    font-size: 32px !important;
    margin-bottom: 0 !important;
}
.second-container h3,
.fifth-container h2,
.sixth-container h2 {
    font-size: 28px !important;
}

/* responsiveness */
@media(max-width: 768px){
    section.container-fluid {
        overflow-x: hidden;
    }
    .second-container {
        padding: 20px;
    }
    .services{
        width: 50%;
        margin-bottom: 20px;
    }
    #recent-project img,
    .team img{
        width: 100%;
    }
    .fifth-container,
    .sixth-container {
        padding: 20px;
        margin-left: 0;
    }
    .second-container h2,
    .fifth-container h1,
    .sixth-container h1 {
        font-size: 32px !important;
        margin-bottom: 0 !important;
    }
    .second-container h3,
    .fifth-container h2,
    .sixth-container h2 {
        font-size: 28px !important;
    }
}
@media(max-width: 600px){
    section.container-fluid {
        overflow-x: hidden;
    }
    .second-container {
        padding: 20px;
    }
    .fifth-container,
    .sixth-container {
        padding: 20px;
        margin-left: 0;
    }
    .second-container h2,
    .fifth-container h1,
    .sixth-container h1 {
        font-size: 32px !important;
        margin-bottom: 0 !important;
    }
    .second-container h3,
    .fifth-container h2,
    .sixth-container h2 {
        font-size: 28px !important;
    }
    #second-container .row {
        margin-top: 0 !important;
    }
    .services .what-we-do {
        padding: 20px;
        margin-bottom: 20px;
    }
    
    #recent-project img,
    .team img{
        width: 100%;
    }
    .team {
        padding: 10px 20px;
    }
    .foot-text p {
        font-size: 14px;
        text-align: center;
    }
}